<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>SpringDemo</display-name>
	<welcome-file-list>
		<welcome-file>/</welcome-file>
	</welcome-file-list>
	<listener id="AppInitialization">
		<listener-class>com.demo.web.listener.AppInitialization</listener-class>
	</listener>
	<listener id="SpringListener">
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<jsp-config>
		<taglib>
			<taglib-uri>/tag/encryption</taglib-uri>
			<taglib-location>/tags/Encryption.tld</taglib-location>
		</taglib>
	</jsp-config>
	<!-- 过滤jsp目录下的访问 -->
	<filter>
		<filter-name>BanJspFilter</filter-name>
		<filter-class>com.demo.web.filter.BanJspFilter</filter-class>
	</filter>
	<!-- <filter-mapping>
		<filter-name>BanJspFilter</filter-name>
		<url-pattern>/page/jsp/*</url-pattern>
	</filter-mapping> -->
	<!-- end -->
	<error-page>
		<error-code>404</error-code>
		<location>/html/404.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/html/404.html</location>
	</error-page>
</web-app>