<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.mybatis.LoginLogMapper">
	<insert id="add">
		insert into t_login_log (user_id,ip) values
		(#{t.user_id},#{t.ip})
	</insert>
</mapper>